* {
  margin: 0;
  padding: 0;
}

body {
  color:#39a6b2;
  font-family: Arial;
}
header {
  padding: 20px 35px;  /*applies 20px to every side of the box */
  background-color:#39a6b2;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fffffd;
  margin:0;
  display: inline;
}
header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header nav {
  float:right; /*similar to text wrapping property in docs or word */
  margin: 7px 0; /* margin adds space to the top and bottom and 0 represents the spaces to the right and left */
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

.apt{
  background-color: rgb(204, 253, 237);
  border: none;
  color: rgb(1, 12, 12);
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  margin-top: 3%;
}

.apt:hover {
  background-color: rgb(171, 214, 200);
}


/* .hero {
  background-image: url("./images/img-1.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  } */

