#hero1 {
  background: url(https://4.bp.blogspot.com/_AQ0vcRxFu0A/S9shDGGyMTI/AAAAAAAAAYk/kn3WTkY2LoQ/s1600/IMG_0714.JPG);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#hero2 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21555/Melissani-cave-natural.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.hero,
.content {
  text-align: center;
  position: relative;
  width: 100%;
}

.inner {
  min-height: 600px;
  position: relative;
}

.hero .inner {
  background: rgba(0, 0, 0, 0.7)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC)
    repeat;
    
}

.copy {
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -5em;
  width: 100%;
}

.hero h1,
.hero h2 {
  color: #fff;
}

.content h1,
.content h2 {
  color: #333;
}

h1 {
  margin: 0px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  padding: 0px 20px;
}

h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  padding: 0px 20px;
}
